@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    @apply m-auto text-heroText font-umbaBold font-bold uppercase;
}

@layer base{
    @font-face {
        font-family: 'Umba Soft SC Regular Demo';
        font-style: normal;
        font-weight: normal;
        src: local('Umba Soft SC Regular Demo'), url('/fonts/UmbaSoft-SCRegularDemo.woff') format('woff');
        }

        @font-face {
            font-family: 'Umba Soft SC Thin Demo';
            font-style: normal;
            font-weight: normal;
            src: local('Umba Soft SC Thin Demo'), url('/fonts/UmbaSoft-SCThinDemo.woff') format('woff');
            }
            
        
            @font-face {
            font-family: 'Umba Soft SC Light Demo';
            font-style: normal;
            font-weight: normal;
            src: local('Umba Soft SC Light Demo'), url('/fonts/UmbaSoft-SCLightDemo.woff') format('woff');
            }
            
        
            @font-face {
            font-family: 'Umba Soft SC Medium Demo';
            font-style: normal;
            font-weight: normal;
            src: local('Umba Soft SC Medium Demo'), url('/fonts/UmbaSoft-SCMediumDemo.woff') format('woff');
            }
            
        
            @font-face {
            font-family: 'Umba Soft SC Bold Demo';
            font-style: normal;
            font-weight: normal;
            src: local('Umba Soft SC Bold Demo'), url('/fonts/UmbaSoft-SCBoldDemo.woff') format('woff');
            }
}