@tailwind base;
@tailwind components;
@tailwind utilities;

.title{
    @apply m-auto text-heroText font-umbaBold text-lg tracking-wider uppercase;
}

.contact-input{
    @apply border-b font-umbaReg border-black/[0.5] w-full focus:outline-none;
}

.button{
    @apply motion-safe:hover:-translate-x-0.5 motion-safe:transition m-auto bg-buttonPaint text-white mt-1 font-umbaMedium uppercase text-xs rounded-full hover:bg-buttonPaint/[0.5] transition duration-300 ease-in-out focus:outline-none;
}

@layer base{
    @font-face {
        font-family: 'Umba Soft Regular';
        src: local('Umba Soft Regular'), 
            local('UmbaSoft-Regular'),
            url('/fonts/UmbaSoft-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Umba Soft Bold';
        src: local('Umba Soft Bold'), local('UmbaSoft-Bold'),
            url('/fonts/UmbaSoft-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Umba Soft Medium';
        src: local('Umba Soft Medium'), local('UmbaSoft-Medium'),
            url('/fonts/UmbaSoft-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Umba Soft Light Italic';
        src: local('Umba Soft Light Italic'), local('UmbaSoft-LightItalic'),
            url('/fonts/UmbaSoft-LightItalic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
        font-display: swap;
    }

    
    @font-face {
        font-family: 'Umba Soft Italic';
        src: local('Umba Soft Italic'), local('UmbaSoft-Italic'),
            url('/fonts/UmbaSoft-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
 
    @font-face {
        font-family: 'Umba Soft Medium Italic';
        src: local('Umba Soft Medium Italic'), local('UmbaSoft-MediumItalic'),
            url('/fonts/UmbaSoft-MediumItalic.woff2') format('woff2');
        font-weight: 500;
        font-style: italic;
        font-display: swap;
    }
  
    @font-face {
        font-family: 'Umba Soft Bold Italic';
        src: local('Umba Soft Bold Italic'), local('UmbaSoft-BoldItalic'),
            url('/fonts/UmbaSoft-BoldItalic.woff2') format('woff2');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Umba Soft Light';
        src: local('Umba Soft Light'), local('UmbaSoft-Light'),
            url('/fonts/UmbaSoft-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Umba Soft Thin';
        src: local('Umba Soft Thin'), local('UmbaSoft-Thin'),
            url('/fonts/UmbaSoft-Thin.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
        font-display: swap;
    }
  
    @font-face {
        font-family: 'Umba Soft Thin Italic';
        src: local('Umba Soft Thin Italic'), local('UmbaSoft-ThinItalic'),
            url('/fonts/UmbaSoft-ThinItalic.woff2') format('woff2');
        font-weight: 100;
        font-style: italic;
        font-display: swap;
    }
}